:root {
    --body-color: #191D20;
    --text-primary-color: #ffffff;
    --text-second-color: #ac8051;
    --text-third-color: #294e6b;

}

html, body{
    font-family:sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--body-color);
}
/* Imagem do background do site*/
.background-img img{
    width: 100%;
    height: 750px;  /*Ajusta autora da imagem*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover;
    z-index: 3;
}

/*Logo Barber alinhada ao centro e seu tamanho*/
.logo img{
    
    height: 150px;
    display: block;
    margin: auto;
   
}

/*Cor do background do menu*/
.menu{
    background-color: var(--body-color);
    opacity: .7; /*Opacidade do menu*/
    align-items: center;
    padding: 30px;   /*Tamanho do background do menu*/
    justify-content: space-between;
    margin-top: -30%;   /*Ajuste do menu ao top*/
    
}

/*Cor do texto do menu*/
.menu ul li a{
    color: var(--text-primary-color);
    padding: 10px;
    margin-right: 150px;
    text-decoration: none;
      
}

nav ul{
    list-style: none;   
}

.item-menu-left,
.item-menu-right{
    display: flex;
    align-items: center;
    
}

.item-menu-left{
    /*justify-content: flex-start;*/
    margin-top: -100px;
}

.item-menu-right{
    margin-top: -30px;
    justify-content: flex-end;
    margin-right: 300px; /*Espaçamento do Elemento da direita para a esquerda*/
}

.item-menu-left li:first-child {
    margin-right: 200px;
    margin-left: 250px;
}

.item-menu-right li:first-child{
    margin-right: 200px;
    margin-left: 500px;
}


nav ul li a:hover {
    color: var(--text-second-color);
}

/*Final do menu com imagem e logo*/
/*Informaçoes do whats e alinhamento*/

.text-background-img h1 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-primary-color);
    margin-top: 150px;
    left: 47%;
    text-shadow: 0.1em 0.1em 0.2em var(--text-primary-color);
}

.text-background-img h1:last-child{
    color: var(--text-second-color);
    margin-top: 200px;
    left: 48%;
    text-shadow: 0.1em 0.1em 0.2em var(--text-second-color);
}

.information-barber-whats{

    position: absolute;
    margin-top: 670px;
    margin-left: 13%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-primary-color);
}

.whatssap img{
    width: 10%;   /*Tamanho do icone */
    filter: contrast(0);
      
}

.information-barber-whats h3,
.information-barber-whats h4{
    position: absolute;
    margin: 5px;
    margin-left: -200px;
}

.information-barber-whats h3{
    margin-top: 0; /*Ajuste do texto para cima*/
    color: var(--text-second-color);
}

.information-barber-whats h4{
    margin-top: 30px; /*Ajuste do texto para cima*/
    color: var(--text-primary-color);
}

/*Alinhamento do local*/

.information-barber-locale{

    position: absolute;
    margin-top: 670px;
    margin-left: 47%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-primary-color);
}

.locale img{
    width: 10%;   /*Tamanho do icone */
    filter: contrast(0);     
}

.information-barber-locale h3,
.information-barber-locale h4{
    position: absolute;
    margin-left: -200px;
}

.information-barber-locale h3{
    margin-top: 0; /*Ajuste do texto para cima*/
    color: var(--text-second-color);
}

.information-barber-locale h4{
    margin-top: 30px; /*Ajuste do texto para cima*/
    color: var(--text-primary-color);
}


.information-barber-open-hours{

    position: absolute;
    margin-top: 670px;
    margin-left: 73%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-primary-color);
}

.open-hours img{
    width: 10%;   /*Tamanho do icone */
    filter: contrast(0);
}

.information-barber-open-hours h3,
.information-barber-open-hours h4 {
    position: absolute;
    margin: 5px;
    margin-left: -150px; /*Distancia dos elementos e a imagem*/
}

.information-barber-open-hours h3 {
    margin-top: 0; /*Ajuste do texto para cima*/
    color: var(--text-second-color);
}

.information-barber-open-hours h4{
    margin-top: 30px; /*Ajuste do texto para cima*/
    color: var(--text-primary-color);

}


/*Imagens da Barber Shop*/

.img-Barber{
    display: flex;
    justify-content: space-between;
    
    
}


.imgSobre-1 img,
.imgSobre-2 img{

    border-radius: 24px;
    width: 950px;
    margin-top: 770px;
}

.imgSobre-1 {
    
    margin-left: 13%;
}

.imgSobre-2 {
    
    margin-right: 10%;
}
