:root {
    --body-color: #191D20;
    --text-primary-color: #ffffff;
    --text-second-color: #ac8051;
    --text-third-color: #294e6b;
    --overlay-color:  rgba(0, 0, 0, 0.74);

}

html, body{
    font-family:sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--body-color);
    scroll-behavior: smooth;
}

.background-img img {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
    overflow: hidden;
}

/*Cor do background do menu*/
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--body-color);
    opacity: .7;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu .item-menu-left,
.menu .item-menu-right {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu .item-menu-left li,
.menu .item-menu-right li {
    margin: 0 80px 0; /* Espaçamento entre os itens do menu */
}

.menu .item-menu-left li a,
.menu .item-menu-right li a {
    text-decoration: none;
    color: var(--text-primary-color);
}


.menu .item-menu-right {
    margin-right: 10%; /* Ajuste a margem à direita conforme necessário */
}

.menu .item-menu-left {
    margin-left: 10%;
}

/* Estilo para links na lista .item-menu-left */
.menu .item-menu-left li a:hover {
    color: red;
}
/* Estilo para links na lista .item-menu-right */
.menu .item-menu-right li a:hover {
    color: red;
}

.menu-mobile{
    display: none;
}

.btn-open-menu img{
    display: none;
}

.logo {
    position: absolute;
    width: 30%; /* Largura da logo em relação ao viewport */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: auto;
}

.text-background-img h1{
    position:absolute;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 45%;
    top: 20%;
    text-shadow: 0.1em 0.1em 0.2em var(--text-primary-color);
    font-size: 28px;
}

.text-background-img h1:last-child{
    color: var(--text-second-color);
    left: 46%;
    top: 25%;
    text-shadow: 0.1em 0.1em 0.2em var(--text-second-color);
}

.whatssap,
.locale,
.open-hours{
    margin-top: 20px;
    width: 8%;
    filter: contrast(0);
}

.whatssap,
.locale,
.open-hours,
.text-information{
    margin-top: 10px;
    display: inline-block;
    align-items: center;
}

.information-barber{
    
    display: flex;
    margin-left: 200px;
    justify-content: space-around;
}

h3,
h4 {

    margin: 5px;
    padding: 1px; /* Ajusta o espaçamento do texto */

}

h3{
    color: var(--text-second-color);
}

h4{
    color: var(--text-primary-color);
    margin-left: 20px;
}

.img-Barber{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 30px;

}

.imgSobre-1,
.imgSobre-2 {
    
    border-radius: 24px;
    width: 400px;
    height: 250px;
}

.title-Services, .title-Sobre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-second-color);
    font-weight: 800;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 28px;
}
/*Service*/

.img-service-1{

    display: none;
    margin: 50px;
    width: 350px;
    height: 300px;
    margin-top: 10px auto;
    margin-left: 15%;
    border: 4px solid var(--text-second-color);
    border-radius: 50% 10% 50% 10%;
}

.menu-service{
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

.menu-item-initial ,
.menu-item-center, .menu-item-final {
    background-color: var(--text-primary-color);
    border: 3px solid var(--text-second-color);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: -webkit-center;
    
}

h2 {
    color: var(--text-second-color);
    text-transform: uppercase;
    text-align:left;
    font-size: 20px;
    
}

p {
    color:var(--text-third-color);
    font-size: 14px;
    margin-top: -1px;
    text-align: left;
}

.button-agendar{

    display: flex;
    margin-inline: auto;
    background-color: var(--text-second-color);
    color: var(--text-primary-color);
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 18px;
    margin-top: 20px;
    transition: background 0.3s ease;
    box-shadow: 0 4px 6px var(--body-color);
}

.button-agendar:hover{
    color: var(--text-second-color);
    background: none;
    border: 3px solid var(--text-third-color);
    border-radius: 10px;
    
}

.sobre{
    display: flex;
    justify-content: space-around;
}

.img-sobre{
    display: flex;
    height: 450px;
    width: 300px;
    margin: 250px  0 auto;
    margin-left: 180px;
    border-radius: 50px;
    border: 3px solid var(--text-second-color);
}

section{

    max-width: 40%;
    margin-right: 13%;
    padding: 20px;
    border: 3px solid var(--text-second-color);
    border-radius: 8px;
    background-color: var(--text-primary-color);
   
}

section p{
    font-size: 20px;
}

footer p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-second-color);
    font-weight: 800;
    margin-top: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 18px;
    
}

#btnTopo {
    position: fixed;
    bottom: 50px;
    right: 70px;
    display: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--body-color);
    border: 3px solid var(--text-third-color);

}

#btnTopo img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    filter: brightness(0) invert(1);
    
}


@media screen and (max-width: 1020px) {
    

   
    /*ESTILO DO MENU MOBILE*/
    .btn-open-menu img{
        display: block;
    }

    .btn-open-menu{
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        margin: 0;
        padding: 0;
        top: 0;
        z-index: 800;
        position: absolute;
    }
    
    .btn-open-menu img{
        width: 8%;
        filter: contrast(0);
        justify-content: flex-end;
        padding: 12px 5%; /*Movimenta botão direita para a ezquerda*/
    }

    .menu-mobile{
        display: block;
        background-color: var(--body-color);
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width:  0%;
        overflow: hidden;
        transition: .5s;
        
    }

    .menu-mobile.open-menu{
        width: 45%;
    }

    .menu-mobile.open-menu ~ .overlay-menu{
        display: block;
    }

    .menu-mobile .btn-closed{
        width: 10%;
        filter: contrast(0);
        padding: 20px 8%;  /*Movimenta o botão fechar*/
    }

    .menu-mobile nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: right;
        
        
    }

    .menu-mobile nav ul li{
        display: block;

    }

    .menu-mobile nav ul li a{
        
        text-decoration: none;
        color: var(--text-primary-color);
        font-size: 20px;
        font-weight: 300;
        padding: 20px 12%; /*Espaço do elemento para a borda direita da tela*/
        display: block;
        
    }
    .menu-mobile nav ul li a:hover{
        background-color: var(--text-third-color);
        color: var(--text-second-color);
    }

    .overlay-menu{
        background-color: var(--overlay-color);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        display: none;
    }

    .background-img img{
        max-height: 30vh;
    }
    .menu ul li a, .information-barber{
        display: none;
    }

    .menu{
        height: 50px;
        align-items: center;
    }
    
    .logo img{
        max-width: 50%;
    }

    .text-background-img h1{

        left: 35%;
        top: 10%;
        font-size: 28px;
    }
    
    .text-background-img h1:last-child{
        left: 40%;
        top: 15%;
    }

    .whatssap img,
    .locale img,
    .open-hours img{
        width: 70%;   /*Tamanho do icone */
        filter: contrast(0);
      
    }

    .information-barber{
    
        justify-content: space-around;
        align-items: flex-start;               /*align-items: center;*/
        flex-wrap: wrap;
        font-size: small;
    }

    .imgSobre-1,
    .imgSobre-2 {
    
    border-radius: 24px;
    width: 150px;
    height: 150px;

    }

    .img-Barber{
        order: -3;
    }

    /* SERVICE*/
    .title-Services, .title-Sobre{
      
        font-weight: 300;
        margin-top: 1px;
        font-size: 20px;
    }
    .menu-service{
        flex-wrap: wrap;
        
    }

    section{
        max-width: 80%;
        margin-right: 0;
    }

    .img-sobre{
        display: none;
    }


        
}


