@import'../style.css';


.logo-barber{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 15px;
    filter: drop-shadow(5px 0 20px var(--text-primary-color));
}

.selected-service{
    
    height: 150px;
    border-bottom: 1px solid var(--text-primary-color);
}

#h1{
    display: flex;
    margin-left: 150px;
    margin: 0;
    color: var(--text-primary-color);
    padding: 20px 70px;
    font-size: 20px;
    
}

.container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;
    border-bottom: 1px solid var(--text-primary-color);
    padding-bottom: 50px;
    
}

.month-year{
    display: flex;
    margin-bottom: 20px;
}

.month-year h1{
    color: var(--text-primary-color);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--text-primary-color);
    width: 70px; /* Largura do card */
    height: 100px; /* Altura do card */
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    display: flex;
    flex-direction: column; /* Os elementos dentro do card ficarão um abaixo do outro */
    justify-content: center; /* Centraliza verticalmente dentro do card */
    align-items: center; /* Centraliza horizontalmente dentro do card */
    padding: 10px; /* Adiciona preenchimento interno ao card */
    margin: 4px; /* Adiciona margem ao redor do card */
}

.card h5, .card h6 {
    margin: 5px 12px; /* Ajusta a margem entre os elementos */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.card:hover{
    background-color: var(--hover-day-week);
    color: var(--text-primary-color);
}

/*Muda a cor do card ao ser clicado*/
.card.selected{
    background-color: var(--hover-day-week);
}

.select-hours{
    display: none;
    height: 150px;
    border-bottom: 1px solid var(--text-primary-color);
    padding-bottom: 80px;
}

.select-hours h1{
    display: flex;
    margin-left: 150px;
    margin: 0;
    color: var(--text-primary-color);
    padding: 40px 70px;
    font-size: 20px;
    
}


.card-hours{
    display: flex;
    background-color: var(--text-primary-color);
    width: 80px;
    height: 40px;
    border-radius: 20px;
    
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.card-hours h2{
    color: var(--text-third-color);
}

.card-hours:hover{
    background-color: var(--hover-day-week);
}

.card-hours:hover h2 {
    color: var(--text-primary-color);
}

.cards-hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 58px; /*adiciona espaçamento dos elemento*/
    
}

.btn-finalizar{

    display: none;
    margin-inline: auto;
    background-color: var(--text-second-color);
    color: var(--text-primary-color);
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 18px;
    margin-top: 20px;
    transition: background 0.3s ease;
    box-shadow: 0 4px 6px var(--body-color);
    margin-top: 60px;
    cursor:not-allowed;
}

.btn-finalizar:hover{
    color: var(--text-second-color);
    background: none;
    border: 3px solid var(--text-third-color);
    border-radius: 10px;
    
}

@media screen and (max-width: 1020px){

    .logo-barber{
        width: 50px;
        height: 50px;
        margin-left: 15px;
        margin-top: 10px;
        filter: drop-shadow(5px 0 20px var(--text-primary-color));
    }

    .selected-service h1{
        font-size: 14px;
        padding: 20px 0;
        margin-left: 30px;
    }

    .month-year h1{
        font-size: 26px;
    }

    .card{
        width: 30px; /* Largura do card */
        height: 60px; /* Altura do card */
    }

    .card h5, .card h6 {

        font-size: 14px;
    }

    .select-hours{
        padding-bottom: 150px;
    }

    .select-hours h1{
        font-size: 14px;
        padding: 20px 0;
        margin-left: 30px;
        
    }

    .card-hours{
        width: 60px;
        height: 30px;
        border-radius: 20px;
    
        margin: 4px;
    }

    .card-hours h2{
        font-size: 16px;
    }
}



