@import'../style.css';

.selected-service{
    
    height: 150px;
    border-bottom: 1px solid var(--text-primary-color);
}

.selected-service h1{
    display: flex;
    margin-left: 150px;
    margin: 0;
    color: var(--text-primary-color);
    padding: 40px 70px;
    
}

.container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;
    border-bottom: 1px solid var(--text-primary-color);
    padding-bottom: 50px;
    
}

.month-year{
    display: flex;
    margin-bottom: 20px;
}

.month-year h1{
    color: var(--text-primary-color);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--text-primary-color);
    width: 70px; /* Largura do card */
    height: 100px; /* Altura do card */
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    display: flex;
    flex-direction: column; /* Os elementos dentro do card ficarão um abaixo do outro */
    justify-content: center; /* Centraliza verticalmente dentro do card */
    align-items: center; /* Centraliza horizontalmente dentro do card */
    padding: 10px; /* Adiciona preenchimento interno ao card */
    margin: 4px; /* Adiciona margem ao redor do card */
}

.card h5, .card h6 {
    margin: 5px 12px; /* Ajusta a margem entre os elementos */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.card:hover{
    background-color: var(--hover-day-week);
    color: var(--text-primary-color);
}

.select-hours{
    height: 150px;
    border-bottom: 1px solid var(--text-primary-color);
    padding-bottom: 80px;
}

.select-hours h1{
    display: flex;
    margin-left: 150px;
    margin: 0;
    color: var(--text-primary-color);
    padding: 40px 70px;
    
}


.card-hours{
    display: flex;
    background-color: var(--text-primary-color);
    width: 80px;
    height: 40px;
    border-radius: 20px;
    
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.card-hours h2{
    color: var(--text-third-color);
}

.card-hours:hover{
    background-color: var(--hover-day-week);
}

.card-hours:hover h2 {
    color: var(--text-primary-color);
}

.cards-hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 58px; /*adiciona espaçamento dos elemento*/
    
}



